<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanewhelan.podcastinate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.shanewhelan.podcastinate.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.shanewhelan.podcastinate.activities.SubscribeActivity"
            android:label="@string/title_subscribe"
            android:parentActivityName="com.shanewhelan.podcastinate.activities.MainActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shanewhelan.podcastinate.activities.MainActivity" />
        </activity>

        <activity
            android:name="com.shanewhelan.podcastinate.activities.PodcastViewerActivity"
            android:label="@string/title_podcast_viewer"
            android:parentActivityName="com.shanewhelan.podcastinate.activities.MainActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shanewhelan.podcastinate.activities.MainActivity" />
        </activity>

        <activity
            android:name="com.shanewhelan.podcastinate.activities.DownloadActivity"
            android:label="@string/title_activity_download"
            android:parentActivityName="com.shanewhelan.podcastinate.activities.PodcastViewerActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shanewhelan.podcastinate.activities.PodcastViewerActivity" />
        </activity>

        <activity
            android:name="com.shanewhelan.podcastinate.activities.PlayerActivity"
            android:label="@string/title_activity_player"
            android:parentActivityName="com.shanewhelan.podcastinate.activities.PodcastViewerActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shanewhelan.podcastinate.activities.PodcastViewerActivity" />
        </activity>

        <activity
            android:name="com.shanewhelan.podcastinate.activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName="com.shanewhelan.podcastinate.activities.SubscribeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shanewhelan.podcastinate.activities.SubscribeActivity" />
        </activity>

        <service
            android:name="com.shanewhelan.podcastinate.services.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service
            android:name="com.shanewhelan.podcastinate.services.AudioPlayerService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name="com.shanewhelan.podcastinate.Utilities$DisconnectHeadphonesReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
